[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bobjaru
[access "refs/for/refs/*"]
	read = group user/bobjaru
	push = group user/bobjaru
	label-Code-Review = -2..+2 group user/bobjaru
	label-Verified = -1..+1 group user/bobjaru
	rebase = group user/bobjaru
	removeReviewer = group user/bobjaru
	submit = group user/bobjaru
[access "refs/heads/*"]
	read = group user/bobjaru
	create = group user/bobjaru
	push = +force group user/bobjaru
	pushMerge = group user/bobjaru
[access "refs/tags/*"]
	push = +force group user/bobjaru
	pushTag = group user/bobjaru
	pushSignedTag = group user/bobjaru
